.box{
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 40vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: block;
    width: 100%;
}
.input{
    width: 100%;
}
.number{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.num{
    display: inline-block;
}