.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: black;

}

.unorderedlist{
    display: inline-block;
    list-style: none;
    align-items: center;

}

.listitem{
    display: inline-block;
    margin-left: 50px;
    margin-top: 5px;
}